 @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap'); 

/** O procedimento acima esta importando uma fonte do google**/
:root{  /* o root server como um estoque de cores e fontes do projeto*/
    --cor-priamria: #000000;
    --cor-secundaria:#ffffff;   /**aqui esta nossa paleta de cores utilizada no projeto, caso você altere alguma cor nessa pelata ela sera aplicada a todos os lugares em que está sendo utilizada*/
    --cor-terciaria: #18ffc9;
    --cor-quartenario:#363636;

    --fonte-primaria:'krona one', 'sans-serif';     /* nessa parte está nossa paleta de fontes utilizadas no projeto*/
    --fonte-secundaria : 'Montserrat', 'sans-serif';
}

* { 
    margin: 0;    /** MARGIN SERVE PARA CONFIGURAR A O TAMANHO DA MARGEM DA PAGINA**/
    padding: 0;   /** SERVE PARA CONFIGURAR O ESPAÇAMENTO DA BORDA ATÉ O CONTEUDO **/   
}

body {
    /* height: 100vh; * ALTURA DA TELA, DEIXANDO 100% DA TELA DO NAVEGADOR* */
    box-sizing: border-box; /** SERVE PARA LIMITAR O ATE ONDE AS INFOMRÇÕES PODEM IR NA PAGINA PESQUISAR BOX SIZE MONZILA PARA TER REFERENCIA**/
    background: var(--cor-priamria); /**COR DO FUNDO DA PAGINA**/
    color: var(--cor-secundaria); /** COR DA LETRA DA PAGINA**/
}
.cabecalho{
    padding: 2% 0% 0% 15%;

}
.cabecalho_menu{    
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color:var(--cor-secundaria);
  text-decoration: none;
}
.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-secundaria);
    text-decoration: none;
  }
.cabecalho_menu_link:hover{
    padding: 0.5%;

}

.apresentacao{
     display: flex;
     align-items: center; /*alinhamento do texto**/
     justify-content: space-between;
     padding: 4% 15%;
     gap: 82px;
     
}

.apresentacao__conteudo{
    width: 615px;  /** PX SEGUINIFICA QUE VOCE QUER A CONFIGURAÇÃO EM PIXELS**/
    display: flex; /** posicionar elementos na tela**/
    flex-direction: column;
    gap: 40px;
}
.apresentacao__titulo{
    font-size: 2rem; /* 1 pixel igual a 16 rem, o rem server para as configurações de tamanho de fonte se aplique no seu projeto*/
    font-family: var(--fonte-primaria);
}
.titulo-destaque{   /**SERVE PARA CHAMAR A CLASSE ESPECIFICADA NA PAGINA HTML**/
    color:var(--cor-terciaria); /**COR DA LETRA DA CLASSE**/
}


.apresentacao__conteudo__texto{
    font-size: 1.40rem;
    font-family:var(--fonte-secundaria) ;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content:space-between;
} 
.apresentacao_links_subtitulo{
    font-family: var(--fonte-primaria);
    font-size: 'Krona One','sans-serif';
    font-weight: 400;

}
.apresentacao__links__links{
    /* background-color: #22d4fd; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria); /*Borda do botão*/
    width: 378px; /*espaçamento entre os botoes*/
    text-align: center;
    border-radius: 8px; /* formato da borda do botão*/
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;  /*grossura do botão*/
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:  var(--fonte-secundaria);
    
}
/*Altera os botões quando passa o mouse em cima  :HOVER */
.apresentacao__links__links:hover{
    background-color: var(--cor-quartenario); /*muda a cor quando o mouse passa em cima*/
    padding: 3%; /*muda o tamanho quando o mouse passa*/
}
.rodape{
    color: var(--cor-priamria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24;
    font-weight: 400px;

} 

@media (max-width:1200px){  /*serve para dimensionar seu site de acordo com o dispositivo que ele sera executado*/
     .cabecalho{
        padding: 10%;
     }
     .cabecalho_menu{

        justify-content: center;
     }
   
    .apresentacao{
        flex-direction: column-reverse;       /* serve para inverter a imagem de posição, tirar do fundo e leavar para o topo*/
        padding: 5;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    
}
